{% extends "./layouts/base.html" %}

{% block title %}
Porfolio
{% endblock title %}

{% block content %}
<h2>Gallery</h2>

<div class="container">
    <img src="https://picsum.photos/200/250", alt="">
    <img src="https://picsum.photos/200/250", alt="">
    <img src="https://picsum.photos/200/250", alt="">
    <img src="https://picsum.photos/200/250", alt="">
    <img src="https://picsum.photos/200/250", alt="">
    <img src="https://picsum.photos/200/250", alt="">
</div>

{% endblock content %}